h1 {
  background-color: blue;
}
#the_2nd_h2 {
  background-color: pink;
}
.purple {
  background-color: purple;
}

button {
  margin: 10px;
  background-color: red;
  border-color: blue;
  border-radius: 10px;
  border-width: 10px;
}

div#card h1 {
  background-color: green;
}

div.my-elem-1 .a > p {
  background-color: yellow;
}

div.my-elem-2 .b p{
    background-color: blue;
}

div.my-elem-2 .a > p {
    background-color:aqua;
}
